<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- Editor CSS -->
  <link rel="stylesheet" href="../dist/css/editor.css">
</head>

<body ng-app="app" ng-controller="EditController">

  <!-- h1 -->
  <h1 ng-bind="title"></h1>

  <!-- h3 -->
  <h3 ng-bind="file"></h3>

  <select data-ng-model="selected"
          data-ng-options="item.name for item in filenames">
    <option value=""> Choose a file </option>    
  </select>

  <p ng-bind=selected.name></p>

  <!-- Tables -->
  <div ng-repeat="keys in data">
    <div class="relative-div">
      <table class="table table-border">
        <tr>
          <th ng-repeat="th in ths" ng-bind=th></th>
        </tr>
        <tr ng-repeat="key in keys" ng-class="{highlight: keys.indexOf(key) === 0}">
          <td id="check-switch" ng-class="{lastline: keys.indexOf(key) === keys.length - 1}">
            <div class="switch">
              <input type="checkbox" ng-model=key[3]>
              <label>
                <span class="fontawesome-ok"></span>
                <span class="fontawesome-remove"></span>
                <div></div>
              </label>
            </div>
          </td>
          <td ng-bind="key[0]" ng-click="setTop(key, keys)" ng-class="{lastline: keys.indexOf(key) === keys.length - 1}"></td>
          <td ng-bind="key[1]" ng-click="setTop(key, keys)" ng-class="{lastline: keys.indexOf(key) === keys.length - 1}"></td>
          <td ng-bind="key[2]" ng-click="setTop(key, keys)" ng-class="{lastline: keys.indexOf(key) === keys.length - 1}"></td>
        </tr>
      </table>
      <a class="close" ng-click="splitKeys(keys)"></a>
    </div>
  </div>
  <!-- End Tables -->

  <!-- Choose Button -->
  <div id="holder">

    <div ng-click="combineKeys()" class="button">
      <p class="btnText">COMBINE</p>
      <div class="btnTwo">
        <p class="btnText2">OK!</p>
      </div>
    </div>

    <div ng-click="saveKeys()" class="button">
      <p class="btnText">SAVE</p>
      <div class="btnTwo">
        <p class="btnText2">SURE?</p>
      </div>
    </div>

  </div>
  <!-- End Choose Button -->

  <!-- AngularJS -->
  <script src="../bower_components/angularjs/angular.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>

  <!-- EditorJS -->
  <!-- <script src="./dist/js/editor.js"></script> -->
  <script src="../dist/js/editor.js"></script>
  
</body>
</html>

