* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    min-width: 320px;
}

body {
    /* background : #DDD; */
    font-family : 'Lato', futura, Roboto;
    background-color: black;
}
