@mixin transform($transforms) {
  transform: $transforms;
  -webkit-transform: $transforms;
  -ms-transform: $transforms;
  -moz-transform: $transforms;
  -o-transform: $transforms;
}

@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background : #DDD; */
  font-family : 'Lato', futura, Roboto;
  /* background-image: url("http://fc02.deviantart.net/fs71/f/2012/180/5/8/ios_linen__system_background__by_glitchking123-d558qvb.jpg"); */
  /* background-image: url("../images/ios.jpg"); */
  /* background-repeat: repeat; */
  background-color: black;
}

.title {
  padding: 10px;
  margin-bottom: 5em;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    width: 40%;
    margin: 0px auto;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 4px solid white;
    &:hover a {
      @include transform(scale(1.1));
    }
    a {
      @include transition(all 0.2s);
      color: #fff;
      text-decoration: none;
      display: block;
    }
  }
  h3 {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
  }
}

#holder{
  background: white;
  padding: 10px;
  width: 250px;
  margin: 60px auto;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

/* Font Awesome */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);


[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* Global styles */

*, *:after, *:before {
    box-sizing: border-box;
}

/*---Switch styles---*/

/* Checkbox hack */

.switch input {
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

/* Container */

.switch {
  height: 2.75em;
  margin: 0px auto;
  font-size: 0.6em;
  position: relative;
  width: 6em;
  line-height: 1em;
  overflow: hidden;
}

/* Background unchecked */

.switch label {
  /* background: #e9513a; */
  background: #3e3e3e;
  border-radius: 2px;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  @include transition(background-color .2s);
}

/* Slider unchecked */

.switch label div {
  background: #fff;
  border-radius: 2px;
  display: block;
  height: 2.25em;
  left: .25em;
  position: absolute;
  top: .25em;
  width: 2.5em;
  z-index: 3;

  @include transform(0.15s cubic-bezier(0.175, 0.285, 0.2, 1.275) all);
}

/* Vertical lines on slider */

.switch label div:before {
  background: #e0dcdd;
  bottom: 0;
  box-shadow: -.33em 0 0 0 #e0dcdd, .33em 0 0 0 #e0dcdd;
  content: '';
  display: block;
  height: 32%;
  top: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 5%;

  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* Subtle switch hover */
.switch:hover label div:before {
  background: #c7c3c4;
  box-shadow: -.33em 0 0 0 #c7c3c4, .33em 0 0 0 #c7c3c4;

  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
  
}


/* Icon styles */

.switch span {
  font-size: 1.5em;
  position: relative;
  line-height: 1em;
  z-index: 2;
}


.switch span.fontawesome-ok {
  color: #13ad4f;
  left: 15%;
  top: 25%;
}

.switch span.fontawesome-remove {
  color: #191918;
  left: 37%;
  top: 23%;
}

/* Checked States */
.switch input:checked~label {
  background: #2fca6c;
  transition: background-color .2s;
}

.switch input:checked~label div {
    left: 3.25em;
}

/* Self Definition */

#check-switch {
  text-align: left;
}

table {
  table-layout: fixed;
  /* background: #fff; */
  /* background: ivory; */
  background-color: #191918;
  width: 100%;
  border-spacing: 0px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  font-size: 1.2em;
  color: white;
  th {
    font-family: 'Roboto:100', superclarendon;
    padding: 0.98rem 0;
  }
  td {
    font-family: futura, Roboto, Helvetica, sans-serif;
    padding: 0.98rem 0;
  }
}

.parent {
  position: relative;
  width: 60%;
  margin: 20px auto;
  .close {
    top: 0px;
    right: -25px;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    .middle {
      top: 50%;
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      margin-top: -1px;
      background: #fff;
      @include transition(all 0.2s cubic-bezier(0.5,0,0.5,1));
    }
    &:hover {
      &::before, &::after {
        /* background: red; */
        background: #d78716;
        top: 50%;
      }
      &::before {
        @include transform(rotate(45deg) scale(1.2));
      }
      &::after {
        @include transform(rotate(-45deg) scale(1.2));
      }
      .middle {
        @include transform(scale(0));
      }
    }
    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #fff;
    }
    &::before {
      @include transition(all 0.2s cubic-bezier(0.5,0,0.5,1));
      top: 80%;
    }
    &::after {
      @include transition(all 0.2s cubic-bezier(0.5,0,0.5,1));
      top: 20%;
    }
  }
}

.group-parent {
  &:nth-child(odd) th {
    background-color: #198a88;
  }
  &:nth-child(even) th {
    background-color: #a62424;
  }
}

.uploadBox {
  /* position: relative; */
  /* padding: 10px 10px; */
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background: #191919;
  outline: none;
  form {
    margin: 30px auto;
    width: 80%;
    input[type="text"] {
      width: 100%;
      color: #fff;
      background: #191919;
      outline: none;
      font-size: 1em;
      padding: 1em 0;
      border: none;
      -webkit-appearance: none;
    }
    .btn {
      text-align: center;
      display: inline-block;
      border: none;
      outline: none;
      color: #FFF;
      padding: 0.6em;
      font-size: 1em;
      font-weight: 500;
      margin: 1.3em 0 0 0;
      width: 100%;
      -webkit-appearance: none;
      background: #198a88;
      border: none;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -ms-transition: 0.5s all;
      &:hover {
        background: #d78716;
      }
      text-align: center;
      @media screen and (max-width: 1920px) {
        width: 50%;
        display: inline-block;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 20px auto;
      }
    }
    #submitBtn, #uploadBtn {
      display: none;
    }
  }
}

@media screen and (max-width: 1920px) {
  .box {
    position: fixed;
    bottom: 50%;
    right: 0;
    /* width: 400px; */
    width: 220px;
    /* height: 280px; */
    margin: 0 auto;
    .link {
      width: 180px;
      margin: 10px 20px 10px 20px;
      cursor: pointer;
      display: block; 
    }
  }
}

@media screen and (max-width: 768px) {
  .box {
    position: relative;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #191919;
    .link {
      margin: 20px auto;
    }
  }
}

.box {
  .link {
    width: 180px;
    cursor: pointer;
    display: block; 
    .button {
      display: block;
      position: relative;
      height: 50px;
      line-height: 50px;
      /* color: #2DCB70; */
      color: #d78716;
      font-family: Arial;
      font-weight: bolder;
      border: 2px solid rgba(255,255,255,0.5);
      padding-left: 20px;
      margin: 0 auto;
      transition: all 0.5s;
      -ms-transition: all 0.5s cubic-bezier(0.5,0,0.5,1);
      -webkit-transition: all 0.5s cubic-bezier(0.5,0,0.5,1);
      -moz-transition: all 0.5s cubic-bezier(0.5,0,0.5,1);
      -o-transition: all 0.5s cubic-bezier(0.5,0,0.5,1);
      &:hover {
        border: 2px solid rgba(255,255,255,1);
        padding-left: 40px;
        .line {
          background: #fff;
        }
        .line-top {
          width: 100%;
          left: -2px;
        }
        .line-right {
          height: 100%;
          top: -2px;
        }
        .line-bottom {
          width: 100%;
          right: -2px;
        }
        .line-left {
          height: 100%;
          bottom: -2px;
        }
      }
      .line {
        display: block;
        position: absolute;
        background: none;
        -ms-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
      }
      .line-top {
        height: 2px;
        width: 0;
        left: -50%;
        top: -2px;
      }
      .line-right {
        height: 0;
        width: 2px;
        right: -2px;
        top: -50%;
      }
      .line-bottom {
        height: 2px;
        width: 0;
        right: -50%;
        bottom: -2px;
      }
      .line-left {
        height: 0;
        width: 2px;
        left: -2px;
        bottom: -50%;
      }
    }
  }
}

nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #314D68;
  border-bottom: 1px solid #314D68;
  background-size: 64px 36px;
  background-border: 2px solid #314D68;
  h1 {
    font-family: 'Chalkduster', 'Bitter', 'Roboto:100', 'Helvetica', serif;
    color: white;
    padding-left: 10px;
    float: left;
  }
  a {
    padding-left: 10px;
    float: left;
    img {
      vertical-align: middle;
      width: 64px;
      height: 36px;
      background: transparent url(../images/FusionSummon.png) no-repeat left;
      background-size: 64px 36px;
      border: none;
    }
  }
}

.select-items {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  background: #191919;
  /* outline: none; */
  select {
    position: relative;
    z-index: 1;
    background: transparent;
    -webkit-appearance: none;
    height: 40px;
    border: none;
    background-color: #191919;
    color: rgba(255,255,255, 0.5);
    width: 100%;
    font-size: 1em;
    padding-left: 10px;
    @include transition(all 0.5s);
    &:hover {
      background-color: transparent;
      color: white;
      padding-left: 50px;
    }
  }
}

#main {
  margin-top: 100px;
}
